<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
id        = "io.cordova.lechal"
xmlns:gap = "http://phonegap.com/ns/1.0"    
version   = "2.0.0">


<name>LE CHAL</name>

<description>LE CHAL
</description>

<author href="YOUR URL" email="YOUR EMAIL">
Gaurav Yadav
</author>

<access origin="*"/>
 
<content src="index.html" /> 
 
<gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
    <param name="APP_ID" value="388167931389640" />
    <param name="APP_NAME" value="codeiglogin" />
</gap:plugin>
 
<gap:platform name="android" />
<preference name="loglevel" value="DEBUG"/> 
<preference name='phonegap-version' value='cli-5.1.1'/>
<preference name="permissions" value="none"/>
<preference name="orientation" value="default"/>
<preference name="target-device" value="universal"/>
<preference name="fullscreen" value="false"/> 
<preference name="android-minSdkVersion" value="7" />
<preference name="android-installLocation" value="auto" /> 
  

</widget>
